<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="test.model.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="class" property="class" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="update_at" property="updateAt" jdbcType="DATE" />
    <result column="create_at" property="createAt" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, class, grade, update_at, create_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="test.model.Student" >
    insert into student (id, name, class, 
      grade, update_at, create_at
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{class,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{updateAt,jdbcType=DATE}, #{createAt,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="test.model.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="class != null" >
        class,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="class != null" >
        #{class,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=DATE},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="test.model.Student" >
    update student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="class != null" >
        class = #{class,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=DATE},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="test.model.Student" >
    update student
    set name = #{name,jdbcType=VARCHAR},
      class = #{class,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      update_at = #{updateAt,jdbcType=DATE},
      create_at = #{createAt,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>